$def-font-color	: #5c5d5f;

$active-back	: #00adef;
$active-color	: white;
$unactive-bar	: #bfbfbf;

$sidebar-width	: 400px;
$sidebar-back	: #ebedf1;
$circle-color	: white;

$relations-back	: #ebedf1;

$stacked-back	: #f7f8fa;
$swim-delimiter	: #d3d3d3;

$selector-hgt	: 60%;
$swimlane-wdt	: 50%;
